<h1>News Feed</h1>

<div class="feed">
<table>

<% @posts.each do |post| %>

 <tr>
  <td class="post">
    <span class="title"><%= link_to post.title, post %></span><br>
    <span class="content"><%=h truncate(post.content, :length => 500) %></span><br>
    <span class="timestamp">
      <% @user = User.find(post.user_id) %>
      Posted by <%= @user.email %> <%= time_ago_in_words(post.created_at) %> ago.
    </span>
    <% if user_signed_in? and current_user == @user %>
      <span><%= link_to 'Edit Post', edit_post_path(post) %></span>
    <span><%= link_to 'Delete Post', post, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'post' %></span>
    <% end %>
  </td>
</tr>
<% end %>
</table>
</div>
<%= render 'topfeed' %>
